body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
	scroll-behavior: smooth;
}

.header{
    background-color: #b00000;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.header_content{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.header img{
    height: 100px;
    width: auto;
}

.capa{
    display: flex;
    background-image: url(/img/tecnico.jpg);
        background-size: cover;
    padding-bottom: 25%;
    font-size: 30px;
}

.capa button{
    color: #fff;
    background-color: #b00000;
    border-radius: 15px;
    height: 50px;
    width: auto;
    font-size: 30px;
    cursor: pointer;
}

.capa.content{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.avaliacoes{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    margin: 15px;
}

.avaliacao_titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avaliacao_titulo img{
    height: 30px;
    width: auto;
}

.card_avaliacao{
    background-color: #999;
    border-radius: 15px;
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
}

.card_avaliacao img{
    height: 40px;
}

.footer{
    background-color: #b00000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer img{
    width: auto;
    height: 80px;
}

#cartao{
    height: 60px;
    margin: 15px;
}

.footer_content h3{
    font-size: 22px;
}

.footer_content h4{
    font-size: 15px;
}

.footer_names{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    margin: 0px;
}

.titulo_location h1{
    font-size: 40px;
}

.location{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.location_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.location_content iframe{
    width: 29vw;
}

.linha{
    border-top: 2px solid #555;
    margin: 20px;
}

.contato{
    display: flex;
    margin: 30px;
    justify-content: space-between;
}

.tipo_contato{
    margin-right: 30px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
    width: 30vw;
}

.tipo_contato h1{
    font-size: 40px;
}

.contato_content{
    display: flex;
    flex-direction: column;
}

.contato_content img{
    height: 30px;
    width: auto;
}

.contato_content button, .contato_content input {
    border: none;
    outline: none;
    background-color: #fff;
}

.contato_content input{
    font-size: 25px;
}

.contato_content h3{
    font-size: 25px;
}

.contato_content_2{
    display: flex;
    justify-content: space-between;
}

#mail1{
    font-size: 23px;
    width: 400px;
}



.titulo_option{
    display: flex;
    justify-content:  center;
    margin-bottom: 50px;
}

.option{
    display: flex;
    justify-content: space-around;
}

.option button{
    outline: none;
    border: none;
    background-color: #fff;
}

.option2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #555;
    border-radius: 15px;
    padding: 10px;
    width: 25vw;
}

.option2:hover{
    transform: scale(0.97);
    cursor: pointer;
}

.option2 img{
    height: 200px;
    width: auto;
    cursor: pointer;
}

.option2.clicked{
	transform: scale(1.03);
    border: 5px solid #369AFF;
    z-index: 1;
}


.botao_continuar1{
    display: flex;
    justify-content: flex-end;
    margin-right: 3.25vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.botao_continuar1 button{
    font-size: 25px;
    background-color: #b00000;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
}

.botao_continuar1 button:hover{
    cursor: pointer;
    transform: scale(0.97);
}


.botao_continuar{
    margin-right: 3.25vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.botao_continuar button{
    font-size: 25px;
    background-color: #b00000;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
}

.botao_continuar button:hover{
    cursor: pointer;
    transform: scale(0.97);
}

.botao_voltar{
    margin-left: 3.25vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.botao_voltar button{
    font-size: 25px;
    background-color: #999;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
}

.botao_voltar button:hover{
    cursor: pointer;
    transform: scale(0.97);
}

.botoes_fim{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.option_cell{
    display: flex;
    justify-content: space-around;
}

.option_cell button{
    outline: none;
    border: none;
    background-color: #fff;
}

.option2_cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #555;
    border-radius: 15px;
    padding: 10px;
    width: 20vw;
    justify-content: center;
    margin-bottom: 50px;
}

.option2_cell img{
    width: 200px;
    height: auto;
    cursor: pointer;
}

.option2_reparo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #555;
    border-radius: 15px;
    padding: 10px;
    width: 20vw;
    justify-content: center;
    margin-bottom: 50px;
}

.option2_reparo img{
    width: 200px;
    height: auto;
    cursor: pointer;
}

.option2_cell:hover{
    transform: scale(0.97);
    cursor: pointer;
}

.option2_reparo.clicked, .option2_cell.clicked{
    transform: scale(1.03);
    border: 5px solid #369AFF;
    z-index: 1;
}



.info_orcamento{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.content_orcamento{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_orcamento h3{
    font-size: 20px;
}

.content_orcamento_title{
    display: flex;
    align-items: center;
}

.content_orcamento_title h1{
    font-size: 40px;
}

.content_orcamento_title img{
    height: 30px;
    width: auto;
    padding-right: 10px;
}

#title_orcamento{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.mapa_orcamento{
    display: flex;
    justify-content: space-around;
}

.info_agendamento{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.info_agendamento h3{
    font-size: 30px;
}

.agendamento_data{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    width: 25vw;
}

.agendamento_data select{
    height: 30px;
    width: 200px;
    border-radius: 13px;
    outline: 2px solid #999;
    border: none;
    font-size: 20px;
}

.agendamento_data input{
    height: 30px;
    width: 200px;
    border-radius: 13px;
    outline: 2px solid #999;
    border: none;
    font-size: 20px;
}

.agendamento_hora{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    width: 25vw;
}

.agendamento_hora fieldset{
    outline: none;
    border: none;
    font-size: 20px;
}

.agendamento_hora label{
    display: block;
}

.botao_continuar_final button{
    font-size: 25px;
    background-color: #b00000;
    border-radius: 10px;
    height: 50px;
    width: 230px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75);
    margin-right: 20px;
}

.botao_continuar_final button:hover{
    cursor: pointer;
    transform: scale(0.97);
}

.title_outro{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}